@model MyBCA.Models.NewTab.NewTabLunchTemplate

@{
    var inList = false;
}
<article>
    <header>
        Lunch for @DateTime.Now.ToShortDateString()
    </header>
    @if (Model.MenuItems.Count() == 0)
    {
        @:There is no lunch today.
    }
    else
    {
        foreach (var item in Model.MenuItems)
        {
            if (item.IsSectionTitle || item.IsStationHeader)
            {
                if (inList)
                {
                    inList = false;
                    @:</ul>
                }
                <h2
                    style="--pico-font-size: 1rem; --pico-line-height: 1.25; --pico-typography-spacing-top: 1.5rem; --pico-color: var(--pico-h6-color)">
                    @item.Text
                </h2>
            }
            else
            {
                if (!inList)
                {
                    @:<ul>
                    inList = true;
                }
                var st = item.Category != "entree" && item.Category != "meat" ? "margin-left: 20px" : "";
                <li style="@st">@item.Food.Name</li>
            }
        }
    }
    </ul>

    @if (Model.Expiry is not null)
    {
        <footer>We'll fetch new lunch data at @Model.Expiry</footer>
    }
</article>